*~
*.aux
*.bak
*.cfg
*.config
*.csv
*.dot
*.hprof
*.iml
*.log
*.o
*.obj
*.orig
*.pyc
*.rej
*.swn
*.swo
*.swp
*.zip
.DS_Store
.checkstyle
.classpath
.externalToolBuilders
.factorypath
.idea
.metadata/
.project
.settings/
build/
clibraries/
lib/
target/
core.*
env
bench-results.json
hs_err_pid*.log
jmh_result.json
