.bloop-config
.classpath
.dotty-ide*
.bloop/
.bsp/
.gradle/
.idea/
.metals/
.project
.scala-build/
.settings/
.vscode/
*_LOCAL/
bazel-*/
lib/
nightly-jars/
out/
/project/
src/build/
target/
*.iml
*.tasty
